{% extends '::base.html.twig' %}

{% block navbar %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    </li>
</ul>
{% endblock %}

{% block contents %}
    <h1>Hi, {{ app.user.username }}!</h1>
{% endblock %}
